.like {
  margin: 5rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem;
      background-color: var(--accent-color2);
      border-radius: 2rem;
      .title {
        color: var(--accent-color1);
        font-size: 1.5rem;
      }
      .description {
        color: var(--accent-color3);
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
      }
    }
  }
}
